@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --soft-red: hsl(10, 79%, 65%);
  --cyan:  hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --light-brown: hsl(24, 10%, 41%);
  --cream: hsl(27, 66%, 92%);
  --pale-orange: hsl(33, 100%, 98%);

}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cream);
}


.container{
  margin: 0 auto;
  max-width: 450px;
  /* come back to test the container height */
  /* margin-top: calc(50vh - 100px); */
  margin-top: 10vh;
  /* border: 1px solid black; */
}

.card__balance{
  background-color: var(--soft-red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--cream);;
  padding: 1.5rem;
  border-radius: 1rem; 
  margin-bottom: 1.5rem;
}

.card__balance-figure{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
  gap: 0.8rem;
}

.bold-figure{
  font-size: 2rem;
  font-weight: 900;
}

.card__chart{
  background-color: var(--pale-orange);
  border-radius: 1rem; 
  padding: 1.5rem;
  min-height: min-content;
  /* max-width:200px; */
  /* max-width: max-content; */
}

.card__chart > h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}


/* allow the height for the chart bar to be according to the content */

.card__chart-bar{
  height: 200px;
  border-bottom: 2px solid var(--cream);
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  /* gap: 4px; */
}

.card__chart-summary{
  display: flex;
  justify-content: space-between;
}


.card__chart-figure, .card__chart-date{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.card__chart-figure > p:nth-child(1),
.card__chart-date > :nth-child(2){
  color: var(--light-brown);
  font-weight: lighter;
  font-size: 1.1rem;
}




.card__chart-date{
  align-self: flex-end;
}

.card__chart-date > :nth-child(1){
  text-align: right;
  font-weight: 900;
}



@media(max-width: 768px){
  .container{
    padding: 1rem;
  }
}
